<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <!---Lors du submit, la methode passera en param l'ensemble du formulaire nommé form_edit_user. ngForm est une directive --->
    <form #form_edit_user="ngForm"
          (ngSubmit)="onSubmit(form_edit_user)">
      <div class="form-group">
        <label for="name">
          Nom
        </label>
        <!--- required : attribut Angular stipulant que ce champ doit etre rempli --->
        <input class="form-control"
               id="name"
               name="name"
               ngModel
               required
               type="text">
      </div>
      <div class="form-group">
        <label for="status">
          Status de l'utilisateur
        </label>
        <!--- on lie le status par defaut (declaré dans le TS) avec la directive [ngModel], pour etre sur d'avoir un statut lors de la
        validation du form --->
        <select class="form-control"
                id="status"
                name="status"
                [ngModel]="defaultStatus">
          <option value="actif">Actif</option>
          <option value="retraité">Retraité</option>
        </select>
      </div>
      <!--- [disabled] : le bouton est desactivé si le form n'est pas valable --->
      <button [disabled]="form_edit_user.invalid"
              class="btn btn-primary"
              type="submit">Enregistrer
      </button>
    </form>
  </div>
</div>
