<!--Directive pour changer de classe bootstrap en fonction d'une cvondition-->
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': userStatus === 'actif',
                'list-group-item-warning': userStatus === 'stagiaire',
                'list-group-item-danger': userStatus === 'retraité'}">
  
  <!--  interpolation : on fait appel à une fonction pour afficher le statut d'un appareil, et non pas à la valeur d'une var-->
  <h2>Utilisateur : {{userName}} -- Statut : {{userStatus}}</h2>
  
  <!--  [(ngModel)] est du two way binding. Il sert surtout dans les formulaires. Il permet d'utiliser le "property binding" et "l'event binding"-->
  <input [(ngModel)]="userName"
         class="form-control"
         type="text">
  
  <!--  Appel de methode par objet du tableau de composant récupéré de l'API-->
  <button (click)="onActif()"
          [disabled]="userStatus === 'actif'"
          class="btn btn-success">Arbeit !
  </button>
  <button (click)="onRetire()"
          [disabled]="userStatus === 'retraité'"
          class="btn btn-danger">Virer
  </button>
</li>
